#photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: .5px;
}

@media (max-width: 2000px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 500px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}


body {
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Cutive Mono', monospace;*/
  /* background-image: url("../images/home/portrait.jpg");
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.fixedbg {
    background-image: url("../images/home/gl.jpg");
    min-height:100vh;
    background-attachment:fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.fixedbgMobile {
    background-image: url("../images/home/gp.jpg");
    min-height:120vh;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=text] {
  border: 1px solid white;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1),
                      -10px 4px 13px rgba(0, 0, 0, 0.05),
                      0px 8px 23px rgba(0, 0, 0, 0.05);
  width: 70%;

}
input[type=email] {
  border: 1px solid white;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1),
                      -10px 4px 13px rgba(0, 0, 0, 0.05),
                      0px 8px 23px rgba(0, 0, 0, 0.05);
  width: 70%;
}
textarea[name=body] {
  border: 1px solid white;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1),
                      -10px 4px 13px rgba(0, 0, 0, 0.05),
                      0px 8px 23px rgba(0, 0, 0, 0.05);
  width: 100%;
}
button, html input[type=button], input[type=reset], input[type=submit] {
  background-color: #ff9b3d;
  border: none;
  color: black;
  float: right;
}

form {
  /* margin: 10px 10px 10px 10px; */
  color: white;
  text-align: left;
}

#body-wrapper {
  margin: auto;
  max-width: 1200px;
  min-height:85vh;

}

#contact {
  /* background: #f5fcff;
  border: 4px solid #f5fcff; */
}

#header {
  text-align: left;
  /* background: #cc0000; */
  font-size: 23px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3),
            0px 8px 13px rgba(0, 0, 0, 0.1),
            0px 18px 23px rgba(0, 0, 0, 0.1);
}
#title {
  font-family: 'Fredericka the Great', cursive;

}
.textShadow {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, .7),
            3px 3px 30px rgba(0, 0, 0, .5),
            0px 0px 50px rgba(0, 0, 0, .2);

}
#headerImage {
  padding: 6px 0px 0px 6px;
  float: left;
}



#desktopMenu {
  padding-top: 0;
  padding-bottom: 0;
  text-align: right;
  /*font-size: 16px;*/
  padding: 10px 15px 10px 0px; /*top right bottom left*/
  line-height: .3;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-style:italic;
  font-weight: 400;
  color: white;
}

#mobileMenu{
  border-style: none;
  background-color: #e5e5e5;
  padding: 0px;
}

#active {
  color: #ff9b3d;
}

#subMenu {
  background: black;
  color: #555555;
  text-align: center;
  margin: 0 0 1px 0;
}

#toTop {
  font-family: 'Josefin Sans', sans-serif;
  /*text-align: center;
  font-size: 16px;
  line-height: .3;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 23px;*/
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
  padding: 10px 0px 10px 0px; /*top right bottom left*/
  /*font-family: 'Cormorant Garamond', serif;*/
  font-size: 16px;
  font-style: italic;
  color: white;
  border-top: inset;
  border-width: thin;
  border-color: gray;
  background: #232323;
  display: block;
  text-decoration: none;
}

#problemText {
  /* padding-top:150px; */
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
  color:white;
  font-style:italic;
  text-align:center;
}

a {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #ff9b3d;
}

.contactIcon {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, .7),
            3px 3px 30px rgba(255, 255, 255, .5),
            0px 0px 50px rgba(255, 255, 255, .2);
  /* background-color: red; */
}
.invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

hr {
    border: 0;
    height: 1px;
    max-width: 1500px;
    width: 70%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

h1 {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
  font-size: 50px;
  color: white;
  margin: 0;
  padding: 6px 0px 6px 0px; /*top right bottom left*/
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}
h3 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

p {
  /* font-family: 'Rajdhani', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.homeImageFirst {
  margin-bottom: 6px;
  border: solid #232323 4px;
}
.homeImage {
  margin-bottom: 6px;
  border: solid #232323 4px;
}

.center {
  text-align: center;
  color: red;
  /* padding-top: 50px; */
}
.centerPadding {
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 10px;
}

.description {
  color: black;
  padding: 5px 0px 0px 5px;
}

.col-sm-4{
  padding: 0px;
}
.col-sm-3{
  padding-right: 20px;
}

.col-sm-6, .col-md-4, .col-lg-3 {
  padding: 1px;
}

.col-sm-6 {
  padding: 10px;
}

.col-sm-9 {
  padding: 0px 0px 0px 0px;
}

.row {
  padding: 23px 23px 23px 23px;
}

.container-fluid {

  /* background-image: url("../images/misc_icons/background2.png"); */
  /* filter: alpha(opacity=70); */
  color: black;
  /* background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url("../images/misc_icons/background.png"); */
  padding-top: 23px;
  padding-bottom: 40px;
  margin: 0px 18px 0px 18px;
}

.nopad {
  padding: 0px;
}

.backdrop {
  background-color: rgba(255,255,255,.6);
  outline: 6px solid rgba(0,0,0,.1);

}

.shadow {
  box-shadow: -3px 8px 8px rgba(255, 0, 0, 1);
            /* 0px 8px 13px rgba(0, 0, 0, 0.1),
            10px 18px 23px rgba(0, 0, 0, 0.1); */
}
.lightshadow {
  box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.1);
            /* 0px 8px 13px rgba(0, 0, 0, 0.1),
            10px 18px 23px rgba(0, 0, 0, 0.1); */
}
.glow {
text-shadow: 1px 1px 10px rgba(255, 255, 255, .7), 3px 3px 30px rgba(255, 255, 255, .5), 0px 0px 50px rgba(255, 255, 255, .2)

}
.white {
  color: white;
}


.button{
  background-color: rgba(255,255,255,.0);
  font-weight: bold;
  border: none;
  color: white;
  padding: 13px 28px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  margin: 1px 1px;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.button:hover{
  /*background-color: #d60606;*/
  text-shadow: 1px 1px 10px rgba(255, 255, 255, .7),
            3px 3px 30px rgba(255, 255, 255, .5),
            0px 0px 50px rgba(255, 255, 255, .2);

  color: #ff9b3d;
  text-decoration: none;
  /* background-color: rgba(255, 255, 255, 1); */
}

.button2{
  border: none;
  color: white;
  padding-left: 12px;
  /* text-align: center; */
  text-decoration: none;
  display:inline-block;
  margin: 0px 0px;
  cursor: pointer;
  transition: all 0.7s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.button2:hover{

  text-decoration: none;
  /*color: #d60606;*/
  color: #ff9b3d;
}
.button3{
  border: none;
  color: white;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  margin: 0px 0px;
  cursor: pointer;
  transition: all 0.7s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.button3:hover{

  text-decoration: none;
  /*color: #d60606;*/
  color: #ff9b3d;
}

.menu_button{
  border-top: 3px #ff9b3d;
  border-bottom: 3px #ff9b3d;
  border-right: 2px #ff9b3d;
  border-left: 2px #ff9b3d;
  border-style: ridge;
  text-align: center;
  background: black;
  color: white;
  padding: 8px 0 8px 0;
}

.mobileButton{
  /*background-color: #a5a5a5;*/
  background-color: #232323;
  border: none;
  color: white;
  padding: 20px 5px;
  text-align: center;
  text-decoration: none;
  display:block;
  margin: 0px 0px;
  cursor: pointer;
}
.mobileButton:hover{
  /*background-color: #d60606;*/
  color: #d60606;
  text-decoration: none;
  background-color: #000000;
}

.thumbnail{
  border: none;
  padding: 0;
  margin: 0;
}

.hide {
  display: none;
}

/*img:hover {
  outline: .5px solid black;
  box-shadow: 0px 0px 28px #000000;
}*/
